{% extends 'main/layout.html' %}
{% block reg %}
{% endblock %}

{% block content %}
<div class="container">
    <p>«ElectrIIC»;– одна из крупнейших сетей магазинов электроники и бытовой техники, входит в ГК Merlion. На рынке с 2008 года.</p>
    <p>В инфраструктуре компании интернет-магазин, более 855 магазинов и пунктов выдачи заказов в 372 городах России.</p>
    <p>В продуктовом портфеле порядка 800 мировых брендов и 70000 наименований компьютерной, цифровой, бытовой техники, других категорий товаров, включая садовую, автомобильную электронику, офисную мебель, канцелярию.</p>
    <p>В портфеле услуг – сборка компьютеров, установка техники, подборка расходных материалов, электронные ключи и подписи, защита покупки и имущества, а также иные цифровые услуги.</p>
    <p>Магазины «ElectrIIC» оборудованы терминалами для самостоятельного оформления заказов, кассами оплаты и окнами выдачи товаров. Сall-центр компании работает 7 дней в неделю и оказывает круглосуточную поддержку покупателям.</p>
    <p>Количество визитов в месяц— более 35 миллионов человек;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;background:white">&nbsp;</p>
    <p><strong>«ElectrIIC» занимает лидирующие позиции на рынке&nbsp;электронной торговли:</strong></p>
    <p>В 2015 году -&nbsp;2-ое место в рейтинге журнала Forbes «TOP-20 онлайн-магазинов России».</p>
    <p>В 2015 году -&nbsp;4-ое место в рейтинге журнала Forbes «20 самых дорогих компаний Рунета».</p>
    <p>В 2016 году -&nbsp;8-ое место в рейтинге журнала Forbes «20 самых дорогих компаний Рунета».</p>
    <p>В 2016 году -&nbsp;3-е место по объему онлайн-продаж в рейтинге Data Insight и Ruward E-commerce Index TOP-100.</p>
    <p>В 2017 году -&nbsp;2-е место по объему онлайн-продаж в рейтинге Data Insight и Ruward E-commerce Index TOP-100.</p>
    <p>В 2019 году -&nbsp;1-е место в исследовании Data Insight «Онлайн-рынок бытовой техники и электроники» (период: июль 2018-июнь 2019).</p>
    <p>В 2019 году&nbsp;— 7-е место в рейтинге «20 самых дорогих компаний Рунета» по версии Forbes. Единственный онлайн-ретейлер в рейтинге, который специализируется на торговле электроникой и бытовой техникой.</p>
    <p>В 2020 году – 2-е место в рейтинге Data Insight TOP-100 крупнейших магазинов России E-Commerce Index.</p>
    <p>В 2020 году – &nbsp;8-е место в рейтинге Forbes «10 главных продавцов Рунета».</p>
    <p>В 2012, 2013, 2014, 2015, 2016, 2018, 2019 годах «ElectrIIC» удостоен звания «Привлекательный работодатель» по итогам исследования портала Superjob.ru среди работающих в России компаний.&nbsp;</p>         
</div>                     
{% endblock %}