{% extends 'main/layout.html' %}
{% block reg %}
{% endblock %}

{% block content %}
<div class="container"><h4><b>Информация о продавце:</b></h4><p>Наименование: Общество с ограниченной ответственностью «ElectrIIC»<br>
    Юридический адрес: 420111, г.&nbsp;Казань, Кремлёвская улица, д.&nbsp;35, стр.&nbsp;1, этаж&nbsp;1, пом.&nbsp;I, ком.&nbsp;51 ОГРН: 1147746461422</p>
    <p>Уважаемые покупатели!</p>
    <p>Мы всегда готовы Вам помочь и оказать необходимую помощь.</p>
    <p>Если, к нашему сожалению, у Вас возникли претензии, связанные с приобретенными у нас товарами либо с процессом их приобретения, просим направлять претензии в письменной форме по адресу: 420111, г. Казань, Кремлёвская улица, д. 35, стр. 1, этаж 1, пом. I, ком. 51.</p>
    <p>Обращения, направленные в иной форме и (или) иным способом, не признаются официальными претензиями в силу пунктов 19 и 21 Правил продажи товаров по договору розничной купли-продажи, утвержденных Постановлением Правительства РФ от 31.12.2020 №&nbsp;2463, а ответы на такие обращения не признаются юридически значимыми.</p>
    <p>Данные ограничения продиктованы желанием неукоснительного соблюдения Ваших прав и законных интересов.</p>
    <iframe src="https://yandex.ru/map-widget/v1/-/CCUceCvIGB" width="100%" height="350" frameborder="1" allowfullscreen="true"></iframe>
</div>

{% endblock %}