{% extends 'main/layout.html' %}

{% load static %}

{% block reg %}
<div class="col-md-3">
    {% if request.user.is_authenticated %}
    <div class="login-register">
        {{ user.username }}
      <a href="{% url 'logout' %}" class="btn btn-outline-secondary" id="button-login">Выйти</a>
    </div>
    {% else %}
    <div class="login-register">
        <a href="{% url 'login' %}" class="btn btn-outline-secondary" id="button-login">Войти</a>
        <a href="{% url 'signup' %}" class="btn btn-primary">Зарегистрироваться</a>
      </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="popular-categories">Популярные категории</div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/note.png' %}" alt="Ноутбуки">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/LE24B8000T_m.png' %}" alt="Телевизоры">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/telephones_250x200_210.png' %}" alt="Смартфоны">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/Chto-takoe-konfigura-200x200h.png' %}" alt="Компьютеры">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/16KG-200x200.png' %}" alt="Стиральные машины">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/52406-1-refrigerator-png-download-free-thumb.png' %}" alt="Холодильники">
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/note.png' %}" alt="Ноутбуки">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/LE24B8000T_m.png' %}" alt="Телевизоры">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/telephones_250x200_210.png' %}" alt="Смартфоны">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/Chto-takoe-konfigura-200x200h.png' %}" alt="Компьютеры">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/16KG-200x200.png' %}" alt="Стиральные машины">
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-big">
                <img src="{% static 'main/Pictures/52406-1-refrigerator-png-download-free-thumb.png' %}" alt="Холодильники">
            </button>
        </div>
    </div>
</div>
{% endblock %}