{% extends 'main/layout.html' %}
{% block reg %}
<div class="col-md-3">
    <div class="login-register">
      <div class="popup" id="popup">
          <form>
            <img class="col-mb-3" src="Pictures/Logo.png" alt="">
            <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
        
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email почта</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Пароль</label>
            </div>
        
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2023 ElectricIIC</p>
          </form>
        </div>
      <div class="overlay" id="overlay"></div>
      <a href="#" class="btn btn-outline-secondary" id="button-login">Войти</a>
      <script>
          var buttonLogin = document.getElementById('button-login');
          var overlay = document.getElementById('overlay');
          var popup = document.getElementById('popup');
  
          buttonLogin.addEventListener('click', function() {
              overlay.classList.add('active');
              popup.classList.add('active');
          });
  
          overlay.addEventListener('click', function() {
              overlay.classList.remove('active');
              popup.classList.remove('active');
          });
      </script>
      <a href="{% url 'register' %}" class="btn btn-primary">Зарегистрироваться</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row g-5">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Форма регистрации</h4>
      <form class="needs-validation" novalidate="">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Пожалуйста введите ваше имя.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Пожалуста введите вашу фамилию.
            </div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Email </label>
            <input type="email" class="form-control" id="email" placeholder="">
            <div class="invalid-feedback">
              Пожалуйста введите email адрес.
            </div>
          </div>

          <div class="col-sm-6">
              <label for="parol" class="form-label">Пароль </label>
              <input type="parol" class="form-control" id="parol" placeholder="">
              <div class="invalid-feedback">
                Пожалуйста введите ваш пароль.
              </div>
            </div>

          <div class="col-sm-6">
              <label for="parol" class="form-label">Повтор пароля </label>
              <input type="parol" class="form-control" id="parol" placeholder="">
              <div class="invalid-feedback">
                Пожалуйста повторите ваш пароль.
              </div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Ваш адрес <span class="text-body-secondary">(Улица, дом, квартира)</label>
            <input type="text" class="form-control" id="address" placeholder="" required="">
            <div class="invalid-feedback">
              Пожалуйста введите ваш адрес.
            </div>
          </div>


          <div class="col-md-5">
            <label for="country" class="form-label">Страна</label>
            <select class="form-select" id="country" required="">
              <option value="">Страна</option>
              <option>Россия</option>
            </select>
            <div class="invalid-feedback">
              Пожалуйста выберите страну.
            </div>
          </div>

          <div class="col-md-4">
            <label for="state" class="form-label">Город</label>
            <select class="form-select" id="state" required="">
              <option value="">Город</option>
              <option>Казань</option>
            </select>
            <div class="invalid-feedback">
              Пожалуйста выберите город.
            </div>
          </div>

          <div class="col-md-3">
            <label for="zip" class="form-label">Почтовый индекс</label>
            <input type="text" class="form-control" id="zip" placeholder="" required="">
            <div class="invalid-feedback">
              Необходим почтовый индекс.
            </div>
          </div>
        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">Завершить регистрацию</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}